.footer {
  margin-top: 60px;
  background: #ffffff;
  border-top: 1px solid #ececec;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 55px 20px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}

.footer-brand h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;

  background: linear-gradient(90deg, #4f46e5, #7c3aed, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand span {
  color: #555;
  -webkit-text-fill-color: #555;
}

.footer-brand p {
  color: #666;
  line-height: 1.8;
  max-width: 380px;
}

.footer-links h3 {
  margin-bottom: 18px;
  color: #222;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  text-decoration: none;
  color: #666;
  margin-bottom: 12px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #4f46e5;
  padding-left: 5px;
}

.socials {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 18px;
  transition: 0.3s;
}

.socials a:hover {
  background: #4f46e5;
  color: #fff;
  transform: translateY(-5px);
}

.footer-bottom {
  text-align: center;
  padding: 18px;
  border-top: 1px solid #ececec;
  color: #777;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .footer-brand p {
    margin: auto;
  }

  .socials {
    justify-content: center;
  }

  .footer-links {
    align-items: center;
  }
}
